{{#> masterLayout }}
    <mj-section padding="0">
        <mj-column width="600px" padding="0">
            <mj-text line-height="20px" css-class="lumen-font" padding="0 60px">
                <p>{{fullName}} ہیلو</p>
            </mj-text>
            <mj-text css-class="lumen-font" padding="0 60px">
                <p>ہمیں گلوبل ٹریس پروٹوکول کے لیے  پاس ورڈ دوبارہ ترتیب دینے کی درخواست موصول ہوئی ہے</p>
            </mj-text>
            <mj-button href="{{resetLink}}" css-class="lumen-button" font-size="12px" font-weight="600"
                       line-height="16px" font-family="Mukta" padding="12px 60px 12px 60px" align="left">
                پاس ورڈ ری سیٹ
            </mj-button>
            <mj-text css-class="lumen-font" padding="0 60px">
                <p>اگر آپ نے پاس ورڈ دوبارہ ترتیب دینے کی درخواست نہیں کی ہے تو مزید  کارروائی کی ضرورت نہیں ہے</p>
                <p>آپ کا دن اچھا گزرے</p>
            </mj-text>
        </mj-column>
    </mj-section>
{{/masterLayout}}
