{{#> masterLayout }}
    <mj-section padding="0">
        <mj-column width="600px" padding="0">
            <mj-text line-height="20px" css-class="lumen-font" padding="0 60px">
                <p>Hi {{fullName}},</p>
            </mj-text>
            <mj-text css-class="lumen-font" padding="0 60px">
                <p>We received a request to reset your password for {{productName}}.</p>
            </mj-text>
            <mj-button href="{{resetLink}}" css-class="lumen-button" font-size="12px" font-weight="600"
                       line-height="16px" font-family="Mukta" padding="12px 60px 12px 60px" align="left">
                Reset password
            </mj-button>
            <mj-text css-class="lumen-font" padding="0 60px">
                <p>If you did not request a password reset, no further action is required.</p>
                <p>Have a great day!</p>
            </mj-text>
        </mj-column>
    </mj-section>
{{/masterLayout}}
