{{#> masterLayout }}
    <mj-section padding="0">
        <mj-column width="600px" padding="0">
            <mj-text line-height="20px" css-class="lumen-font" padding="0 60px">
                <p>{{fullName}} ہیلو</p>
            </mj-text>
            <mj-text css-class="lumen-font" padding="0 60px">
                <p>آپ کو گلوبل ٹریس پروٹوکول سپلائی چین میں شامل ہونے کی دعوت دی گئی ہے<br></p>
                <p> اپنے ای میل کی تصدیق کرنے اور شروع کرنے کے لیے <a href="{{signUpLink}}">یہاں</a> کلک کریں </p>
            </mj-text>
            <mj-text css-class="lumen-font" padding="0 60px">
                <p>آپ کا دن اچھا گزرے</p>
            </mj-text>
        </mj-column>
    </mj-section>
{{/masterLayout}}
