{{#> masterLayout }}
    <mj-section padding="0">
        <mj-column width="600px" padding="0">
            <mj-text line-height="20px" css-class="lumen-font" padding="0 60px">
                <p>Hi {{fullName}},</p>
            </mj-text>
            <mj-text css-class="lumen-font" padding="0 60px">
                <p>Thanks for signing up to {{productName}} Supply Chain!<br></p>
                <p>Simple go <a href="{{signInLink}}">here</a> to get started.</p>
            </mj-text>
            <mj-text css-class="lumen-font" padding="0 60px">
                <p>Have a great day!</p>
            </mj-text>
        </mj-column>
    </mj-section>
{{/masterLayout}}
