{{#> masterLayout }}
    <mj-section padding="0">
        <mj-column width="600px" padding="0">
            <mj-text line-height="20px" css-class="lumen-font" padding="0 60px">
                <p>{{fullName}} ہیلو</p>
            </mj-text>
            <mj-text css-class="lumen-font" padding="0 60px">
                <p>گلوبل ٹریس پروٹوکول سپلائی چین میں سائن اپ کرنے کا شکریہ<br></p>
                <p> شروع کرنے کے لیے سادہ <a href="{{signInLink}}">یہاں</a> جائیں </p>
            </mj-text>
            <mj-text css-class="lumen-font" padding="0 60px">
                <p>آپ کا دن اچھا گزرے</p>
            </mj-text>
        </mj-column>
    </mj-section>
{{/masterLayout}}
